<p id="notice"><%= notice %></p>

<h1>Tanques</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Caracteristicas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tanques.each do |tanque| %>
      <tr>
        <td><%= tanque.nombre %></td>
        <td><%= tanque.caracteristicas %></td>
        <td><%= link_to 'Ver', tanque %></td>
        <td><%= link_to 'Editar', edit_tanque_path(tanque) %></td>
        <td><%= link_to 'Eliminar', tanque, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Tanque', new_tanque_path %>
